time{
    font-weight: bold;
}
aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}
aside p {
  margin: 0;
  padding: 0.5rem;
}
#red{
    background-color: red;
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: solid 4px black !important;   
}
a:visited {
    color: #800080; /* Purple color for visited links */
}
a:link {
    color: #0000FF; /* Blue color for unvisited links */
}

a:active {
   background-color: #0000FF;
}